<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img height="25px;" style="display: inline;" alt="Form.io" src="https://help.form.io/assets/formio-logo.png">
      <img height="25px;" style="display: inline;" alt="Keycloak" src="https://www.keycloak.org/resources/images/keycloak_logo_480x108.png">
      <img height="25px;" style="display: inline;" alt="JAVERS" src="https://javers.org/img/logotype.svg?timestamp=1605383727">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav nav-fill mr-auto">
        <li class="nav-item "><a class="nav-link" [routerLink]="['/employee/list']">Employees</a></li>
        <li class="nav-item "><a class="nav-link" [routerLink]="['/project/list']">Projects</a></li>
        <li class="nav-item "><a class="nav-link" [routerLink]="['/employee_project/list']">Project employees</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/logout']">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
